[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyside2 = "*"
system-hotkey = "*"
xcffib = "*"
xpybutil = "*"
argparseqt = "*"
"pypiwin32" = {version = "*", sys_platform = "== 'win32'"}

[requires]
python_version = "3.7"
